//VARS
$color_black: #353535;
$color_black_op:rgba(239, 239, 239, 0.35);
$warm-grey-two: #9b9b9b;
$white-seven: #f9f8f8;
$warm-grey-three: #737373;
$greyish-brown:#4a4a4a;
$warm-grey:#999999;
$white-five:#f6f6f6;
$white-eight:#d8d8d8;
$jade-green:#299e59;


//MEDIA
$xtra-large: "screen and (max-width: 1200px)";
$large-devices: "screen and (max-width: 992px)";
$medium-devices: "screen and (max-width: 768px)";
$small-devices: "screen and (max-width: 576px)";