   @font-face {
	font-family: 'Helvetica';
	src: url('../fonts/Helvetica-Bold.eot');
	src: url('../fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Helvetica-Bold.woff') format('woff'),
		 url('../fonts/Helvetica-Bold.ttf') format('truetype'),
		 url('../fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
   }   
   @font-face {
	font-family: 'Helvetica';
	src: url('../fonts/Helvetica-Regular.eot');
	src: url('../fonts/Helvetica-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Helvetica-Regular.woff') format('woff'),
		 url('../fonts/Helvetica-Regular.ttf') format('truetype'),
		 url('../fonts/Helvetica-Regular.svg#Helvetica-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
   }